@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	/* overflow-y: overlay; */
}

body {
	@apply bg-gray-50 text-gray-900
	dark:bg-background-800 dark:text-gray-50;
}

.chapter {
	@apply min-h-screen p-4
	prose prose-xl dark:prose-invert;
	word-wrap: break-word;
}

:target {
	padding-top: 4rem;
}
